## Lv.1

10미만의 자연수에서 3과 5의 배수를 구하면 3,5,6,9이다. 이들의 총합은 23이다. 1000미만의 자연수에서 3,5의 배수의 총합을 구하라.

In [ ]:
print(sum(list(i for i in range(1,1000) if i % 3 == 0 or i % 5 == 0)))

In [ ]:
set3 = set(range(0, 1000, 3))
set5 = set(range(0, 1000, 5))

print(sum(set3 | set5))

---

---

주어진 문자열(공백 없이 쉼표로 구분되어 있음)을 가지고 아래 문제에 대한 프로그램을 작성하세요. 
```
이유덕,이재영,권종표,이재영,박민호,강상희,이재영,김지완,최승혁,이성연,박영서,박민호,전경헌,송정환,김재성,이유덕,전경헌
```
1. 김씨와 이씨는 각각 몇 명 인가요?
2. "이재영"이란 이름이 몇 번 반복되나요?
3. 중복을 제거한 이름을 출력하세요.
4. 중복을 제거한 이름을 오름차순으로 정렬하여 출력하세요.

In [ ]:
name_list = '이유덕,이재영,권종표,이재영,박민호,강상희,이재영,김지완,최승혁,이성연,박영서,박민호,전경헌,송정환,김재성,이유덕,전경헌'
A = name_list.split(',')

count_1 = 0
count_2 = 0

for i in A:
    if i[0] == '김' or i[0] == '이':
        count_1 += 1
    
    if i == '이재영':
        count_2 += 1

print('김씨와 이씨는 총', count_1, '명 입니다.')
print()
print('이재영은', count_2, '명 입니다.')
print()

set_name_list = set(A)
new_name_list = list(set_name_list)
print(new_name_list)

print()
new_name_list = sorted(new_name_list)
print(new_name_list)

### 복기 : count 함수와 sort 함수에 대해 숙지하기

In [ ]:
names = "이유덕,이재영,권종표,이재영,박민호,강상희,이재영,김지완,최승혁,이성연,박영서,박민호,전경헌,송정환,김재성,이유덕,전경헌".split(",")

#1
a=[ i[0] for i in names ]
print("김씨 : %d\n이씨 : %d\n"%(a.count("김"), a.count("이")))

#2
print(names.count("이재영"))

#3
uniq_names = list(set(names))
print(uniq_names)

#4
uniq_names.sort()
print(uniq_names)

---

---

n개의 정수를 가진 배열이 있다. 이 배열은 양의 정수와 음의 정수를 모두 가지고 있다. 이제 당신은 이 배열을 좀 특별한 방법으로 정렬해야 한다.

정렬이 되고 난 후, 음의 정수는 앞쪽에 양의 정수는 뒷쪽에 있어야 한다. 또한 양의 정수와 음의 정수의 순서에는 변함이 없어야 한다.
```
예)  [-1, 1, 3, -2, 2] 
ans: [-1, -2, 1, 3, 2]
```

In [ ]:
def compare(list_):
    for i in range(len(list_)-1):
        if list_[i] < 0 and list_[i+1] > 0:
            pass
        
        elif list_[i] > 0 and list_[i+1] < 0:
            list_[i], list_[i+1] = list_[i+1], list_[i]
            
    return list_
            
def arrange(list_):
    for i in range(len(list_)-2):
        list_ = compare(list_)
    
    return list_
    
a = [-1, 1, 3, -2, 2]
A = arrange(a)
print(A)

b = [-1, 2, 3, -7, 1, 4, -2, 3, 5, -3]
B = arrange(b)
print(B)

### 복기 : 리스트의 안에서 값을 바꿔야 한다는 편견을 깨기!

In [ ]:
def do(alist):
    return [x for x in alist if x < 0] + [x for x in alist if x >= 0]

print(do([-1, 1, 3, -2, 2]))

In [ ]:
list = [1, 2, 3, 4, 5, -5, -4, -3, -2, -1]

def sort_item(list):
    t1, t2 = [], []
    
    for i in list:
        if i < 0:
            t1.append(i)
        else:
            t2.append(i)
            
    return t1 + t2

print(sort_item(list))

---

---

피보나치 수열이란, 첫 번째 항의 값이 0이고 두 번째 항의 값이 1일 때, 이후의 항들은 이전의 두 항을 더한 값으로 이루어지는 수열을 말한다.
```
예) 0, 1, 1, 2, 3, 5, 8, 13
```
인풋을 정수 n으로 받았을때, n 이하까지의 피보나치 수열을 출력하는 프로그램을 작성하세요

In [14]:
num = int(input('정수를 입력하세요 : '))

a = [0, 1]
ans = 0

while 1:
    i = len(a) - 2
    ans = a[i] + a[i+1]
    if ans >= num:
        break
    a.append(ans)   

print(a)

정수를 입력하세요 : 100
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

### 복기 : 가끔은 생각을 단순하게!

In [17]:
num = int(input('정수를 입력하세요 : '))

a, b = 0, 1
print(0, end=' ')

while 1:
    a, b = b, a+b
    if b >= num: break
    print(b, end=' ')

정수를 입력하세요 : 100
0 1 2 3 5 8 13 21 34 55 89

---

---

디지털 시계에 하루동안(00:00~23:59) 3이 표시되는 시간을 초로 환산하면 총 몇 초(second) 일까요?

디지털 시계는 하루동안 다음과 같이 시:분(00:00~23:59)으로 표시됩니다.
```
00:00 (60초간 표시됨)
00:01 
00:02 
...
23:59
```

In [16]:
hour = 0
minute = 0
sec_count = 0

while hour < 24:
    minute = 0
    
    while minute < 60:
        if '3' in str(hour):
            sec_count += 3600
            break
            
        elif '3' in str(minute):
            sec_count += 60
            
        minute += 1
        
    hour += 1

print(sec_count)

29700

### 복기 : 이런 조건이 있는 반복문의 경우에는 while문 보다 for문이 더 짧고 실용적이다!

In [17]:
def clock(num):
    sec = 0
    for hour in range(24):
        for minute in range(60):
            if str(num) in str(hour) + str(minute): # 문자열로 변환한 시간에 해당 숫자가 들어있으면
                sec += 60
    return sec

print(clock(3))

29700

---

---

#### - 메모리공간을 동적으로 사용하여 데이터 관리하기
프로그램 실행 순서

1. 입력할 정수의 개수를 사용자로부터 입력 받는다.
2. 입력받은 정수의 개수만큼 정수를 입력받는다.
3. 입력받은 정수의 합과 평균 값을 출력한다.
4. 할당된 메모리공간을 비운다.

요구사항

1. 메모리공간은 사용자의 입력 수의 따라 변동된다.
2. 사용한 공간은 마지막에 비워야 한다.
3. 배열을 사용하면 안된다.

---

---

### Duplicate Numbers
0\~9까지의 문자로 된 숫자를 입력 받았을 때, 이 입력 값이 0~9까지의 숫자가 각각 한 번 씩만 사용된 것인지 확인하는 함수를 구하시오.
```
sample inputs: 0123456789 01234 01234567890 6789012345 012322456789

sample outputs: true false false true false
```

In [27]:
num = input('숫자를 입력해주세요 : ')
ans = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
trigger = 0

num_list = list(num)

for i in num_list:
    try:
        ans.remove(int(i))
    except:
        print('false')
        trigger = 1
        ans.append(10)

if not ans:
    print('true')
elif ans and trigger == 0:
    print('false')

숫자를 입력해주세요 : 4556
false

### 참신하다..

In [43]:
x = list(input('숫자 입력 : '))
x.sort()

n = ''.join(x)

print("true" if n == "0123456789" else "false")

숫자 입력 : 9876543210
['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']
0123456789
true

In [32]:
a = input("0~9 사이의 숫자로 이루어진 문자열 입력 : ")

print('true' if len(a) == len(set(a)) == 10  else 'false')  
# 중복된 값을 삭제한 것과 길이가 같으면서 그 길이가 10일 때 (0~9) True

0~9 사이의 숫자로 이루어진 문자열 입력 : 456789320
false

---

---

### Printing OXs
이 문제의 핵심은 비트 연산을 얼마나 잘 이해하고 있냐이기 때문에 비트 연산으로 풀어주세요.

input은 int n을 입력 받아 첫번째 row는 (n-1)의 O와 X, 두번째 row는 (n-2)의 O와 XX, 세번째 row는 (n-3)의 0와 XXX... n번째 row는 n의 X을 출력하시오.
```
입력 예시: 6

출력 예시:
OOOOOX
OOOOXX
OOOXXX
OOXXXX
OXXXXX
XXXXXX
```

In [7]:
print((lambda n: '\n'.join('O'*(n-i) + 'X'*i for i in range(1,n+1)))(int(input('>>> '))))

(lambda x: print(2*x))(int(input('>> ')))  
# lambda 함수는 앞에 함수명을 적어줘야 하지만, 뒤에 값을 붙여주면 바로 값을 반환한다.

>> 6
12

In [12]:
twice = (lambda x: 2*x)(int(input('>> ')))
print(twice)

>> 6
12

In [14]:
twice = lambda x: 2*x

num = twice(int(input('>> ')))
print(num)

>> 6
12

---

---

---

---

---

---

## Lv.2

---

---

---

---

---

---

---

---

---

---

---

---

---

---

## Lv.3

---

---

---

---

---

---

---

---

---

---

## Lv.4

---

---

---

---

---

---

---

---

---

---

## Lv.5

k-palindrome 은 문자열에서 최대 k개의 문자를 제거했을 때 palindrome이 되는 문자열을 말한다.

문자열 S와 정수값 K가 주어질 때 주어진 문자열이 k-palindrome일 경우 "YES", 아닐경우에는 "NO"를 출력하시오. (단, S의 최대길이는 20,000, K의 범위는 0<=K<=30)
```
※ 팔린드롬(palindrome) - 바로 읽든 거꾸로 읽든 결과가 같아지는 단어, 문구, 숫자를 말한다. (예: 'eye', 'Madam', '아들딸들아')
```
샘플 예:
```
Input - abxa 1 
Output - YES 

Input - abdxa 1 
Output - No
```

In [44]:
### 어떤 문자열이 팔린드롬인지 판별하는 Part
def reverse_str(string):
    string = list(string)
    string.reverse()
    string = ''.join(string)
    return string

def palindrome(string):
    leng = len(string)
    if leng % 2 == 0:
        reverse_value = reverse_str(string[:leng//2])
        print(reverse_value)
        return string[-leng//2:] == reverse_value
    else:
        reverse_value = reverse_str(string[:leng//2])
        print(reverse_value)
        return string[-leng//2+1:] == reverse_value
    
test_str1 = 'abcdedcba'
test_str2 = 'abcdeedcba'

print(palindrome(test_str1))
print(palindrome(test_str2))

### 어떤 문자열을 팔린드롬으로 만드는 케이스와 그 때의 문자 삭제 갯수를 출력하는 Part
## S <= 20000, 0 <= K <= 30 인 조건을 무조건 만족하는 경우로 가정. (범위를 벗어나면 바로 폐기)
## len(S) = 1000 이라면, 중간 지점의 범위는 최소 500-15 ~ 500+15 구간이어야 함.
## len(S) = 245 라면, 122-15 ~ 122+15
## 어떤 문자를 기준으로 양 옆으로 처음으로 중복되는 문자. 그 인덱스 차가 30을 넘으면 안됨.
## 그 이후로부터 점점 영역을 확장해나간다.
## K가 30을 넘지 않는 선에서, 리스트의 길이와 연관지어가며 어떤 인덱스 부터 이어나갈지 결정
# ab(cx)df'e'f(ij)d(l)b(i)a

dcba
True
edcba
True

---

---

---

---